@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default variables for light theme */
html {
  --background: #ffffff;
  --foreground: #000000;
}

/* Dark theme variables */
html.dark {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
